<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script type="text/javascript">
    window.addEventListener('load', function () {
      window.proxyURL = <%- JSON.stringify(proxyURL) %>;
      window.proxyPort = <%- JSON.stringify(proxyPort) %>;
      window.clusterName = <%- JSON.stringify(clusterName) %>;
    })
  </script>
  <script type="text/javascript" src="javascripts/bundle.js"></script>
</head>
<body>
  <div class="card">
	   <div class="card-title">
       <p class="text">Kubernetes Dashboard</p>
	   </div>
	   <div class="card-desc">
       <div class="input">
         <input type="text" placeholder="Name" id="accesskey" required/>
         <label for="Name">aws_access_key_id</label>
       </div>
       <div class="input">
         <input type="password" placeholder="Password" id="secretkey" required/>
         <label for="Password">aws_secret_access_key</label>
       </div>
	   </div>
	   <div class="card-actions">
		     <button type='button' id='button' class='card-action-readMore'>Sign in</button>
	   </div>
  </div>
</body>
</html>
