<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
  <script type="text/javascript" src="javascripts/tokenlib.js"></script>
  <script type="text/javascript">
    window.addEventListener('load', function () {
      function sendData (accesskey, secretkey) {
        const XHR = new XMLHttpRequest()
        XHR.addEventListener('load', function (event) {
          document.cookie = 'jweToken=' + encodeURI(JSON.parse(event.target.responseText).jweToken)
          // window.location.replace("http://localhost:8000");
          location.reload()
        })
        XHR.addEventListener('error', function (event) {
          alert('Oops! Something went wrong.')
        })
        var proxyURL = <%- JSON.stringify(proxyURL) %>;
        var proxyPort = <%- JSON.stringify(proxyPort) %>;
        XHR.open('POST', proxyURL + ':' + proxyPort + '/login')
        XHR.setRequestHeader('Content-Type', 'application/json;charset=UTF-8')
        const token = get_bearer_token(accesskey, secretkey)
        XHR.send(JSON.stringify({ token: token }))
      }
      const button = document.getElementById('button')
      button.addEventListener('click', function (event) {
        sendData(document.getElementById('accesskey').value, document.getElementById('secretkey').value)
      })
    })
  </script>
</head>
<body>
  <div class="main">
    <p class="sign" align="center">Sign in the Kubernetes Dashboard</p>
    <form class="form1">
      <input class="un " type="text" align="center" placeholder="aws_access_key_id" id="accesskey" required>
      <input class="pass" type="password" align="center" placeholder="aws_secret_access_key" id="secretkey" required>
      <a class="submit" align="center" id="button">Sign in</a>
    </form>
  </div>
</body>
</html>
